.main-slider{
    position:relative;
    .slide{
        position:relative;
        height:80vh;
        background-size:cover;
        background-position:center;
        padding:5rem;
        .slide-blurb{
            color:white;
            position:absolute;
            top:75%;
            left:15%;
            transform:translateY(-50%);
        }
    }
}
article{

}